        </main>

        <!-- footer start -->
<footer class="footer-area pl-100 pr-100">
    <div class="footer-area box-90 pt-100 pb-60" style="background-image: url('/user-assets/img/bg/footer.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-6">
                    <div class="footer-widget mb-40 pr-70">
                        <div class="footer-logo">
                            <a href="index.html"><img src="/user-assets/img/logo/logo.png" alt="ArmorHead Logo"></a>
                        </div>
                        <p>ArmorHead is your one-stop shop for high-quality helmets. Whether you're riding a motorcycle, cycling, or just need head protection, we have the right helmet for you. Safety and style go hand in hand at ArmorHead.</p>
                        <div class="footer-time d-flex mt-30">
                            <div class="time-icon">
                                <img src="/user-assets/img/icon/time.png" alt="Time Icon">
                            </div>
                            <div class="time-text">
                                <span>Need Assistance? Call us 24/7!</span>
                                <h2>(1234) 567 890</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3">
                    <div class="footer-widget mb-40">
                        <h3>Follow Us</h3>
                        <ul class="footer-link">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">LinkedIn</a></li>
                            <li><a href="#">YouTube</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-3 d-md-none d-xl-block">
                    <div class="footer-widget pl-50 mb-40">
                        <h3>Our Locations</h3>
                        <ul class="footer-link">
                            <li><a href="#">New York</a></li>
                            <li><a href="#">Los Angeles</a></li>
                            <li><a href="#">Chicago</a></li>
                            <li><a href="#">Houston</a></li>
                            <li><a href="#">San Francisco</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3">
                    <div class="footer-widget mb-40">
                        <h3>About Us</h3>
                        <ul class="footer-link">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Wholesale</a></li>
                            <li><a href="#">Shipping & Returns</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area box-105">
        <div class="container-fluid">
            <div class="pt-30 pb-30">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="copyright text-center">
                            <p>Copyright © 2024 <a href="#">ArmorHead</a>. All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

        <!-- footer end -->

        <!-- Fullscreen search -->
        <div class="search-wrap">
            <div class="search-inner">
                <i class="fas fa-times search-close" id="search-close"></i>
                <div class="search-cell">
                    <form method="get">
                        <div class="search-field-holder">
                            <input type="search" class="main-search-input" placeholder="Search Entire Store...">
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- end fullscreen search -->





		<!-- JS here -->
    <!-- Include SweetAlert library using CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.0/toastify.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('#resendOtpLink').click(function(event) {
      event.preventDefault(); // Prevent the default action of the link
      
      // Perform a POST request using AJAX
      $.ajax({
        url: '/resendOtp', // URL to send the POST request
        type: 'POST', // Method type
        success: function(response) {
          // Handle success response here
          console.log('Resend OTP request sent successfully');
          // You can handle the response as needed
        },
        error: function(xhr, status, error) {
          // Handle error response here
          console.error('Error occurred while sending resend OTP request:', error);
        }
      });
    });
  });
</script>
        <script>
  // Function to validate the form
  function validateForm() {
    var name = document.getElementById("name").value;
    var email = document.getElementById("email-id").value;
    var phone = document.getElementById("phone").value;
    var password = document.getElementById("pass").value;
    var repassword = document.getElementById("repass").value;

    // Validation for name
    if (!/^[a-zA-Z]+\s[a-zA-Z]+$/.test(name)) {
      document.getElementById("name-error").innerHTML = "Name should contain first name and last name only";
      return false;
    } else {
      document.getElementById("name-error").innerHTML = "";
    }

    // Validation for email
    if (!/^\S+@\S+\.\S+$/.test(email)) {
      document.getElementById("email-error").innerHTML = "Invalid email format";
      return false;
    } else {
      document.getElementById("email-error").innerHTML = "";
    }

    // Validation for phone
    if (!/^\d{10}$/.test(phone)) {
      document.getElementById("phone-error").innerHTML = "Phone number should contain 10 digits only";
      return false;
    } else {
      document.getElementById("phone-error").innerHTML = "";
    }

    // Validation for password
    if (!/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{6,}/.test(password)) {
      document.getElementById("password-error").innerHTML = "Password should be at least 6 characters long and contain at least one digit, one uppercase letter, one lowercase letter, and one special character";
      return false;
    } else {
      document.getElementById("password-error").innerHTML = "";
    }

    // Validation for re-entered password
    if (password !== repassword) {
      document.getElementById("repassword-error").innerHTML = "Passwords do not match";
      return false;
    } else {
      document.getElementById("repassword-error").innerHTML = "";
    }

    // All validations passed
    return true;
  }

  // Real-time validation for name input
  function validateName() {
    var name = document.getElementById("name").value;
    if (!/^[a-zA-Z]+\s[a-zA-Z]+$/.test(name)) {
      document.getElementById("name-error").innerHTML = "Name should contain first name and last name only";
    } else {
      document.getElementById("name-error").innerHTML = "";
    }
  }

  // Real-time validation for email input
  function validateEmail() {
    var email = document.getElementById("email-id").value;
    if (!/^\S+@\S+\.\S+$/.test(email)) {
      document.getElementById("email-error").innerHTML = "Invalid email format";
    } else {
      document.getElementById("email-error").innerHTML = "";
    }
  }

  // Real-time validation for phone input
  function validatePhone() {
    var phone = document.getElementById("phone").value;
    if (!/^\d{10}$/.test(phone)) {
      document.getElementById("phone-error").innerHTML = "Phone number should contain 10 digits only";
    } else {
      document.getElementById("phone-error").innerHTML = "";
    }
  }

  // Real-time validation for password input
  function validatePassword() {
    var password = document.getElementById("pass").value;
    if (!/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{6,}/.test(password)) {
      document.getElementById("password-error").innerHTML = "Password should be at least 6 characters long and contain at least one digit, one uppercase letter, one lowercase letter, and one special character";
    } else {
      document.getElementById("password-error").innerHTML = "";
    }
  }

  // Real-time validation for re-entered password input
  function validateRePassword() {
    var password = document.getElementById("pass").value;
    var repassword = document.getElementById("repass").value;
    if (password !== repassword) {
      document.getElementById("repassword-error").innerHTML = "Passwords do not match";
    } else {
      document.getElementById("repassword-error").innerHTML = "";
    }
  }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      // Fetch the anchor tag element
      const loginLogoutBtn = document.getElementById('loginLogoutBtn');

      // Set the href attribute based on the user's authentication status
      loginLogoutBtn.href = isLoggedIn ? '/logout' : '/login';
    });
  </script>
<script></script>

        <script>document.getElementById('sort').addEventListener('change', function() {document.getElementById('sortForm').submit();});</script>
        <script src="/user-assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/user-assets/js/jquery-ui.js"></script>
        <script src="/user-assets/js/popper.min.js"></script>
        <script src="/user-assets/js/bootstrap.min.js"></script>
        <script src="/user-assets/js/owl.carousel.min.js"></script>
        <script src="/user-assets/js/isotope.pkgd.min.js"></script>
        <script src="/user-assets/js/slick.min.js"></script>
        <script src="/user-assets/js/jquery.meanmenu.min.js"></script>
        <script src="/user-assets/js/ajax-form.js"></script>
        <script src="/user-assets/js/wow.min.js"></script>
        <script src="/user-assets/js/jquery.scrollUp.min.js"></script>
        <script src="/user-assets/js/jquery.final-countdown.min.js"></script>
        <script src="/user-assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="/user-assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/user-assets/js/plugins.js"></script>
        <script src="/user-assets/js/main.js"></script>
        <style>
              .error {
                color: red;
              }
            </style>
    </body>

</html>
