<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>ArmorHead</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="manifest" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/user-assets/img/logo-only.png"
    />
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/user-assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/user-assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/user-assets/css/animate.min.css" />
    <link rel="stylesheet" href="/user-assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="/user-assets/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/user-assets/css/flaticon.css" />
    <link rel="stylesheet" href="/user-assets/css/meanmenu.css" />
    <link rel="stylesheet" href="/user-assets/css/jquery-ui.css" />
    <link rel="stylesheet" href="/user-assets/css/meanmenu.css" />
    <link rel="stylesheet" href="/user-assets/css/slick.css" />
    <link rel="stylesheet" href="/user-assets/css/default.css" />
    <link rel="stylesheet" href="/user-assets/css/style.css" />
    <link rel="stylesheet" href="/user-assets/css/responsive.css" />
  </head>
  <body>
    <!-- preloader -->
    <!-- <div id="preloader">
            <div class="preloader">
                <span></span>
                <span></span>
            </div>
        </div> -->
    <!-- preloader end  -->

    <!-- header start -->
    <header>
      <div
        id="header-sticky"
        class="header-area"
        style="
          height: 80px;
          display: flex;
          align-items: center;
          background-color: rgba(220, 220, 220, 0.9);
        "
      >
        <div class="container-fluid">
          <div class="row align-items-center">
            <div
              class="col-xl-2 col-lg-6 col-md-6 col-7 col-sm-5 d-flex align-items-center pos-relative"
            >
              <div class="logo">
                <a href="/"
                  ><img src="/user-assets/img/logo/logo.png" alt=""
                /></a>
              </div>
            </div>
            <div class="col-xl-8 col-lg-6 col-md-8 col-8 d-none d-xl-block">
              <div class="main-menu text-center">
                <nav id="mobile-menu">
                  <ul>
                    <li>
                      <a href="/">Home</a>
                    </li>
                    <li class="mega-menu">
                      <a href="/shopPage">Shop</a>
                    </li>
                    <!-- <li>
                      <a href="shop-filter.html">Products </a>
                    </li> -->
                    <li>
                      <a href="blog.html">Blog</a>
                      <!-- <ul class="submenu">
                        <li>
                          <a href="blog-2-col.html">Blog 2 Column</a>
                        </li>
                        <li>
                          <a href="blog-2-col-mas.html">Blog 2 Col Masonry</a>
                        </li>
                        <li>
                          <a href="blog-3-col.html">Blog 3 Column</a>
                        </li>
                        <li>
                          <a href="blog-3-col-mas.html">Blog 3 Col Masonry</a>
                        </li>
                        <li>
                          <a href="blog-details.html">Blog Details</a>
                        </li>
                        <li>
                          <a href="blog-details-audio.html"
                            >Blog Details Audio</a
                          >
                        </li>
                        <li>
                          <a href="blog-details-video.html"
                            >Blog Details Video</a
                          >
                        </li>
                        <li>
                          <a href="blog-details-gallery.html"
                            >Blog Details Gallery</a
                          >
                        </li>
                        <li>
                          <a href="blog-details-left-sidebar.html"
                            >Details Left Sidebar</a
                          >
                        </li>
                      </ul> -->
                    </li>
                    <li>
                      <a href="#">Pages</a>
                      <ul class="submenu">
                        <li>
                          <a href="about.html">About Us</a>
                        </li>

                        <li>
                          <a href="contact.html">Contact Us</a>
                        </li>
                        <li>
                          <a href="/login">login</a>
                        </li>
                        <li>
                          <a href="/signup">Register</a>
                        </li>
                        <li>
                          <a href="cart.html">Shoping Cart</a>
                        </li>
                        <li>
                          <a href="checkout.html">Checkout</a>
                        </li>
                        <li>
                          <a href="wishlist.html">Wishlist</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="contact.html">Contact</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-5 col-sm-7 pl-0">
              <div class="header-right f-right">
                <ul>
                  <li class="search-btn">
                    <a class="search-btn nav-search search-trigger" href="#"
                      ><i class="fas fa-search"></i
                    ></a>
                  </li>
                 <li class="login-btn"><a href="/profile"><i class="far fa-user"></i></a></li>
                  <li class="d-shop-cart">
                    <a href="/cart"
                      ><i class="flaticon-shopping-cart"></i>
                      <span class="cart-count">3</span></a
                    >
                    <ul class="minicart">
                      <li>
                        <div class="cart-img">
                          <a href="product-details.html">
                            <img
                              src="/user-assets/img/product/pro1.jpg"
                              alt=""
                            />
                          </a>
                        </div>
                        <div class="cart-content">
                          <h3>
                            <a href="product-details.html"
                              >Black & White Shoes</a
                            >
                          </h3>
                          <div class="cart-price">
                            <span class="new">$ 229.9</span>
                            <span>
                              <del>$239.9</del>
                            </span>
                          </div>
                        </div>
                        <div class="del-icon">
                          <a href="#">
                            <i class="far fa-trash-alt"></i>
                          </a>
                        </div>
                      </li>
                      <li>
                        <div class="cart-img">
                          <a href="product-details.html">
                            <img
                              src="/user-assets/img/product/pro2.jpg"
                              alt=""
                            />
                          </a>
                        </div>
                        <div class="cart-content">
                          <h3>
                            <a href="product-details.html"
                              >Black & White Shoes</a
                            >
                          </h3>
                          <div class="cart-price">
                            <span class="new">$ 229.9</span>
                            <span>
                              <del>$239.9</del>
                            </span>
                          </div>
                        </div>
                        <div class="del-icon">
                          <a href="#">
                            <i class="far fa-trash-alt"></i>
                          </a>
                        </div>
                      </li>
                      <li>
                        <div class="cart-img">
                          <a href="product-details.html">
                            <img
                              src="/user-assets/img/product/pro3.jpg"
                              alt=""
                            />
                          </a>
                        </div>
                        <div class="cart-content">
                          <h3>
                            <a href="product-details.html"
                              >Black & White Shoes</a
                            >
                          </h3>
                          <div class="cart-price">
                            <span class="new">$ 229.9</span>
                            <span>
                              <del>$239.9</del>
                            </span>
                          </div>
                        </div>
                        <div class="del-icon">
                          <a href="#">
                            <i class="far fa-trash-alt"></i>
                          </a>
                        </div>
                      </li>
                      <li>
                        <div class="total-price">
                          <span class="f-left">Total:</span>
                          <span class="f-right">$300.0</span>
                        </div>
                      </li>
                      <li>
                        <div class="checkout-link">
                          <a href="cart.html">Shopping Cart</a>
                          <a class="red-color" href="checkout.html">Checkout</a>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 d-xl-none">
              <div class="mobile-menu"></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header end -->
  </body>
</html>
