<%- include("../partials/userHeader") %>

<main>
  <!-- breadcrumb-area-start -->
  <section class="breadcrumb-area" data-background="/user-assets/img/bg/page-title.png">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="breadcrumb-text text-center">
            <h1>Forgot Password</h1>
            <ul class="breadcrumb-menu">
              <li><a href="index.html">home</a></li>
              <li><span>Forgot Password</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb-area-end -->

  <!-- forgot password Area Start-->
  <section class="forgot-password-area pt-100 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="basic-login">
            <h3 class="text-center mb-60">Forgot Your Password?</h3>
            <form action="/forgotPassword" method="post" onsubmit="return validateEmail()">
              <label for="email">Email Address <span>**</span></label>
              <input id="email" name="email" type="email" placeholder="Enter your email address..." />
              <span id="email-error" class="error"></span>
              <!-- Error message container -->

              <button class="btn theme-btn-2 w-100">Send OTP</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- forgot password Area End-->
</main>

<%- include("../partials/userFooter") %>
