<%- include("../partials/userHeader") %>

<main>
  <section class="order-success-message pt-100 pb-100 box-90">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <div class="area-title text-center mb-50">
            <h2>Order Placed Successfully</h2>
            <p>Your order has been successfully placed. Thank you for shopping with us!</p>
            <a href="/" style="background-color: red; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include("../partials/userFooter") %>
