<%- include("../partials/userHeader") %>

<main>
  <!-- create-new-password-breadcrumb -->
  <section
    style="
      background-image: url('/user-assets/img/bg/page-title.png');
      height: 150px;
      padding: 20px 0;
    "
  >
    <div style="max-width: 1200px; margin: 0 auto">
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        "
      >
        <div>
          <h1 style="font-size: 70px; color: #333">Create New Password</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- end-create-new-password-breadcrumb -->

  <!-- New Password Creation Area -->
  <section
    class="new-password-creation-area pt-100 pb-100"
    style="padding-top: 10px"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="basic-login">
            <h3 class="text-center mb-60">Enter New Password</h3>
            <form
              action="/resetPassword"
              method="post"
              onsubmit="return validatePassword()"
            >
              <label for="newPassword">New Password <span>**</span></label>
              <input
                id="newPassword"
                name="newPass"
                type="password"
                placeholder="Enter new password..."
                oninput="validatePassword()"
              />
              <span id="password-error" class="error"></span>

              <button class="btn theme-btn-2 w-100">Create New Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- New Password Creation Area End -->
</main>

<%- include("../partials/userFooter") %>

<style>
  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }

  /* Container Styles */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  /* Forgot Password Section Styles */
  .forgot-password-area {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .basic-login {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
  }

  .basic-login h3 {
    text-align: center;
    margin-bottom: 60px;
  }

  .basic-login label {
    font-weight: bold;
  }

  .basic-login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .basic-login button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .basic-login button:hover {
    background-color: #e74c3c;
  }

  /* Error Message Styles */
  .error {
    color: #e74c3c;
    font-size: 14px;
  }
</style>

<script>
  function validatePassword() {
    var password = document.getElementById("newPassword").value;
    var passwordError = document.getElementById("password-error");
    var minLength = 8;

    if (
      password.length < minLength ||
      !/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{6,}/.test(password)
    ) {
      passwordError.textContent = `Password must be at least ${minLength} characters long. Also password should be at least 6 characters long and contain at least one digit, one uppercase letter, one lowercase letter, and one special character.`;
    } else {
      passwordError.textContent = "";
    }
  }
</script>
