<%- include("../partials/userHeader") %>

<main>
  <!-- breadcrumb-area-start -->
  <section class="breadcrumb-area" data-background="/user-assets/img/bg/page-title.png">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="breadcrumb-text text-center">
            <h1>Create New Password</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb-area-end -->

  <!-- New Password Creation Area -->
  <section class="new-password-creation-area pt-100 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="basic-login">
            <h3 class="text-center mb-60">Enter New Password</h3>
            <form action="/resetPassword" method="post" onsubmit="return validatePassword()">
              <label for="newPassword">New Password <span>**</span></label>
              <input id="newPassword" name="newPass" type="password" placeholder="Enter new password..." oninput="validatePassword()" />
              <span id="password-error" class="error"></span>

              <button class="btn theme-btn-2 w-100">Create New Password</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- New Password Creation Area End -->
</main>

<%- include("../partials/userFooter") %>

<script>
  function validatePassword() {
    var passwordInput = document.getElementById('newPassword');
    var password = passwordInput.value;
    var passwordError = document.getElementById('password-error');

    // Validate password strength
    var passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+\-=[\]{};':"\\|,.<>\/?]).{6,}$/;
    if (!passwordRegex.test(password)) {
      passwordError.textContent = 'Password should be at least 6 characters long and contain at least one digit, one uppercase letter, one lowercase letter, and one special character.';
      return false;
    } else {
      passwordError.textContent = '';
      return true;
    }
  }
</script>
